[submodule "enterprise"]
	path = enterprise
	url = git@github.com:softwaremill/tracevault-enterprise.git
	update = none
[submodule "website"]
	path = website
	url = https://github.com/softwaremill/tracevault-website.git
	update = none
