[submodule "enterprise"]
	path = enterprise
	url = git@github.com:VirtusLab/visdom-ai-tracing-enterprise.git
	update = none
[submodule "website"]
	path = website
	url = git@github.com:VirtusLab/visdom-ai-tracing-website.git
	update = none
